{% extends 'index.html' %} {% load static %} {% load crispy_forms_tags %}

<!--Some comments-->
{% block content %} {% block css %}
<link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" />
{% endblock %} {% block main %}
<div
  class="invoice-box"
  style="
    background: url({%static 'images/media/voucherback.png'%});
    background-size: cover;
  "
>
  <table cellpadding="0" cellspacing="0">
    <tr class="top">
      <td colspan="3">
        <table>
          <tr style = "color: #9C640C ">
            <td class="title col-md-4">
              <img
                src="{% static 'images/logo.PNG' %}"
                style="width: 100%; max-width: 200px"
                alt="Logo"
              />
            </td>
            <td class="text-center col-md-4">
              <h5>Virgin Africa Safaris Ltd.</h5>
              <h6 class="mt-0">TSS Towers Nkrumah Road<br />
              P0 BOX 84845 - 80100 GPO,<br />
              Mombasa Kenya.</h6>
              Email: Admin@virginafricasafaris.com<br />
              Website: www.virginafricasafaris.com
              
            </td>
            <td class="col-md-4 text-center">
              <h6>Date:</h6>
             
            </td>
          </tr>
        </table>
      </td>
   
    </tr>

    <tr class="information">
      <td colspan="2">
        <table class="col-md-2" style="height: 30px">
          <tr class="table-bordered">
            <td>
            Invoice NO:
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr class="">
      <td>Please RESERVE the following accommodation for: </td>

      <td><form>RESIDENT  <input type="checkbox"/></form></td>
      <td><form>NOT RESIDENT  <input type="checkbox"/></form></td>
    </tr>

    <tr class="information">
      <td colspan="2">
        <table class="col-md-5" style="height: 30px">
          <tr>
            <td>
            NAME OF THE LODGE/HOTEL/CAMP
            </td>
          </tr>
        </table>
      </td>
    </tr>


    <tr class="">

      <td colspan="3">
      <table class="col-md-12">
      <tr>
         <td colspan="3"><h6>Group/Client</h6></td>
    </tr>
    <tr>
        <td><form>NO of Adults: <input class ="input-sm" type="text" size="3"/></form></td>
        <td><form>NO of children <input class ="input-sm" type="text" size="3"/></form></td>
        <td><form>Infants <input class ="input-sm" type="text" size="3"/></form></td>
    </tr>
    <tr>
        <td></td>
        <td><form>Age: <input class ="input-sm" type="text" size="5"/></form></td>
        <td><form>Baby Cot <input class ="input-sm" type="text" size="3"/></form></td>
    </tr>
    </table>
       
    </tr>

    <tr class="">

      <td colspan="3">
      <table class="col-md-12">
      <tr>
         <td colspan="3"><h6>Accomodation</h6></td>
    </tr>
    <tr>
       <table class="table-bordered ml-3">
           <tr>
               <th>Single</th>
                <th>Double</th>
                <th>Twin</th>
               <th>Triple</th>
               <th rowspan="2" style="vertical-align:top">Arrival</th>
               <th rowspan="2" style="vertical-align:top">Departure</th>
               <th rowspan="2" style="vertical-align:top">Total Number of nights</th>


           </tr>
           <tr style="height: 30px">
               <td></td>
                <td></td>
                <td></td>
               <td></td>
              


           </tr>
           <tr
           ></tr>
       </table>
       
    </tr>
    <tr>
        
    </tr>
    </table>
       
    </tr>

    <tr colspan="3" class="details">
    <table>
    <tr>
      <td>Payment will be done by: Virgin Africa Safaris Ltd.</td>
    </tr>
      <tr>
          <td class="col-md-2">Meal Plan</td>
          <td class="col-md-3">
              <table class = " table-bordered">
                  <tr> 
                     <th>FB</th>
                     <th>HB</th>
                     <th>BB</th>
                  </tr>
                  <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                  </tr>
              </table>
          </td>
      </tr>
      </table>
    </tr>

    

    <tr class="details">
      <td>Check</td>

      <td>1000</td>
    </tr>

    <tr class="heading">
      <td>Payment Method</td>

      <td>Check #</td>
    </tr>

    <tr class="details">
      <td>Check</td>

      <td>1000</td>
    </tr>

    <tr class="heading">
      <td>Payment Method</td>

      <td>Check #</td>
    </tr>

    <tr class="details">
      <td>Check</td>

      <td>1000</td>
    </tr>

    <tr></tr>
  </table>
  <br />
</div>

{% endblock%} {% endblock%}
