{% extends 'index.html' %} {% load static %} {% load crispy_forms_tags %}

<!--Some comments-->
{% block content %} {% block css %}
<link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" />
{% endblock %} {% block main %}

<!-- This is a comment too-->

<!-- section-header.// -->
<!--Login-->

<div class="container py-5 create-form-box">
  {% if prod_form.errors %} ddddes: {% for error in prod_form.errors %}
  <!---->
  {{ error | escape }} {% endfor %} {% endif %} {% if inv_prod_form.errors %}
  ddddes: {% for error in inv_prod_form.errors %}
  <!---->
  {{ error | escape }} {% endfor %} {% endif %} {% if form.errors %} ddddes:
  {%for error in form.errors %}
  <!---->
  {{ error | escape }} {% endfor %} {% endif %}
  <h5>Creating Voucher</h5>
  <div class="row">
    <form method="POST" class="col-12">
      {% csrf_token %}
        
      </div>


       <div class="form-row">
        <div class="form-group col-2">{{ form.number|as_crispy_field }}</div>
        <div class="form-group col-3">{{ form.facility_name|as_crispy_field }}</div>
        
       
        <div class="form-group col-2">{{ form.number_of_adults|as_crispy_field }}</div>
        
        
      </div>
      <div class="form-row">
        <div class="form-group col-2">{{ form.number_of_children|as_crispy_field }}</div>
        <div class="form-group col-3">{{ form.children_age|as_crispy_field }}</div>
       
        
        <div class="form-group col-2">{{ form.infants|as_crispy_field }}</div>
        <div class="form-group col-3">{{ form.baby_cot|as_crispy_field }}</div>
        </div>

        <div class="form-row">
        <div class="form-group col-9">
          <table class="table-bordered col-md-10 ml-2">
           <tr>
               <th>Single</th>
                <th>Double</th>
                <th>Twin</th>
               <th>Triple</th>
               <th rowspan="2" style="vertical-align:top">Arrival</th>
               <th rowspan="2" style="vertical-align:top">Departure</th>
               <th rowspan="2" style="vertical-align:top">Total Number of nights</th>


           </tr>
           <tr style="height: 30px" class="accomodation">
               <td><input type="checkbox"/></td>
                <td><input type="checkbox"/></td>
                <td><input type="checkbox"/></td>
               <td><input type="checkbox"/></td>
              


           </tr>
           <tr
           ></tr>
       </table>
          {{ form.accomodation|as_crispy_field }}
        </div>
       </div>
            <div class="form-row">
        <div class="form-group col-2">{{ form.meal_plan|as_crispy_field }}</div>
         <div class="form-group col-2 ml-3">{{ form.reserver_name|as_crispy_field }}</div>
         <div class="form-group col-2">{{ form.reservation_date|as_crispy_field }}</div>
        
      </div>

      <div class="form-row">
        
        <div class="form-group col-3">{{ form.client_name|as_crispy_field }}</div>
        <div class="form-group col-2">
          {{ form.client_email|as_crispy_field }}
        </div>
       
        
        
      </div>

     
      <div class="form-row">
        <!-- collapsible form -->
        <div class="col-12">

        

 
  </div>
  </div>
        
    
      
      <br />
      <div class="row justify-content-center" style = "width: 100%">
      <button class="btn btn-info col-2 mr-1" type="submit">Save</button>
      <button class="btn btn-warning col-2 mr-1" type="button" onClick="this.form.reset()">Reset</button>
      <a class =" col-2" href="{% url 'homepage'%}"><button class="btn btn-danger" type="button">Cancel</button></a>
      </div>
    </form>
  </div>
  </div>

  <!-- Modals Start Here -->
  <div class="modal modal-sheet py-5" tabindex="-1" id="adroductModal">
    <div class="modal-dialog">
      <div class="modal-content rounded-6 shadow">
        <form class="form-container" action="#" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="modal-header border-bottom-0">
            <h5 class="modal-title">Add Invoice Product</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body py-0">{{prod_form.as_p}}</div>
          <div class="modal-footer flex-column border-top-0">
            <button
              type="submit"
              class="btn btn-lg btn-primary w-100 mx-0 mb-2"
            >
              Save changes
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div
    class="modal fade"
    id="addClientModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <form class="" action="#" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="modal-header border-bottom-0">
            <h5 class="modal-title">Add Invoice Product</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body py-0">{{prod_form.as_p}}</div>
          <div class="modal-footer flex-column border-top-0">
            <button
              type="submit"
              class="btn btn-lg btn-primary w-100 mx-0 mb-2"
            >
              Save changes
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- ========================= FOOTER END // ========================= -->
  {% endblock %}
</div>



<script>
  
$(".accomodationn :checkbox").click(function () {
    if (this.checked) $(".discount_group").show();
    else $(".discount_group").hide();
});

$('.accomodation :checkbox"]').on('change', function() {
   $('.accomodation :checkbox"]').not(this).prop('checked', false);
});
</script>
{% endblock%}