{% extends 'index.html' %} {% load static %} {% load crispy_forms_tags %}

<!--Some comments-->
{% block content %} {% block css %}
<link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" />
{% endblock %} {% block main %}

<div
  class="
    d-flex
    justify-content-between
    flex-wrap flex-md-nowrap
    align-items-center
    pt-3
    pb-2
    mb-3
    border-bottom
    view-invoice-box

  "
  
>
<form method="post" action="{% url 'generate-voucher' %}" name="voucherform">
{% csrf_token %}
  <div class="btn-toolbar mb-2 mb-md-0">
 
    <div class="btn-group me-2">
      
        <button type="submit" class="btn btn-primary">Print</button>
      
    </div>
  </div>
</div>
<div
  class="invoice-box"
  style="
    background: url({%static 'images/media/voucherback.png'%});
    background-size: cover;
  "
> 

        <table class = "header_table">
          <tr style = "color: #9C640C ">
            <td class="title col-md-4" style="width: 20%">
              <img
                src="{% static 'images/logo.PNG' %}"
                style="width: 100%; max-width: 200px"
                alt="Logo"
              />
            </td>
            <td class="text-center col-md-5" style="width: 55%">
              <h5>Virgin Africa Safaris Ltd.</h5>
              <h6 class="mt-0">TSS Towers Nkrumah Road<br />
              P0 BOX 84845 - 80100 GPO,<br />
              Mombasa Kenya.</h6>
              <span class="details">Email: Admin@virginafricasafaris.com<br />
              Website: www.virginafricasafaris.com</span>
              
            </td>
            <td class="col-md-5 text-center" style="width: 10%">
             <table class = " table-bordered">
                  <tr> 
                      <td>BOOK</td
                     <td>AMEND</td>
                     <td>CANCEL</td>
                     
                  </tr>
                  <tr style="height: 12px">
                      <td> <h6>&#10004</h6></td>
                      <td>{%if voucher.hb%} <h6>&#10004</h6> {%else%} {%endif%}</td>
                      <td>{%if voucher.fb%} <h6>&#10004</h6> {%else%} {%endif%}</td>
                      
                  </tr>
              </table>
             
            </td>
          </tr>
        </table>
    

    
    

      Please RESERVE the following accommodation for: <b>{{voucher.accommodation_type}}</b>

      
  

    
        <table class="col-md-5" style="height: 30px">
          <tr>
            <td>
            NAME OF THE LODGE/HOTEL/CAMP: <b>{{voucher.facility_name}}</b>
            </td>
          </tr>
        </table>
   


  
      <table class="col-md-12">
      <tr>
         <td colspan="3"><h6>Group/Client</h6></td>
    </tr>
    <tr>
        <td>NO of Adults: <b>{{voucher.number_of_adults}}</b>/td>
        <td>NO of children <b>{{voucher.number_of_children}}</b></td>
        <td>Infants <b>{{voucher.infants}}</b></td>
    </tr>
    <tr>
        <td></td>
        <td>Age: <b>{{voucher.children_age}}</b></td>
        <td>Baby Cot <b>{{voucher.baby_cot}}</b></td>
    </tr>
    </table>
       
 

   
      <table class="col-md-11 ml-1">
      <tr>
         <td colspan="3"><h6>Accomodation</h6></td>
    </tr>
    <tr>
       <table class="table-bordered col-md-10 ml-2">
           <tr>
               <td>Single</td>
                <td>Double</td>
                <td>Twin</td>
               <td>Triple</td>
               <th rowspan="2" style="vertical-align:top">Arrival {{voucher.arrival}}</th>
               <th rowspan="2" style="vertical-align:top">Departure {{voucher.departure}}</th>
               <th rowspan="2" style="vertical-align:top">Total Number of nights {{voucher.number_of_nights}}</th>


           </tr>
           <tr style="height: 30px">
               <td>{%if voucher.single%} <h6>&#10004</h6> {%else%} {%endif%}</td>
                <td>{%if voucher.double%} <h6>&#10004</h6> {%else%} {%endif%}</td>
                <td>{%if voucher.twin%} <h6>&#10004</h6> {%else%} {%endif%}</td>
               <td>{%if voucher.triple%} <h6>&#10004</h6> {%else%} {%endif%}</td>
              


           </tr>
           <tr
           ></tr>
       </table>
       
    </tr>
    
    </table>
       
            <br/>
           <div>Payment will be done by: Virgin Africa Safaris Ltd.</div>
           <br/>

    <table class="col-md-5">
  
   
      <tr class="col-md-4 mt-3">
          <td class="col-md-2">Meal Plan</td>
          <td class="col-md-2">
              <table class = " table-bordered">
                  <tr> 
                      <td>BB</td
                     <td>HB</td>
                     <td>FB</td
                     <td>AI</td>
                  </tr>
                  <tr style="height: 12px">
                      <td> {%if voucher.bb%} <h6>&#10004</h6> {%else%} {%endif%}</td>
                      <td>{%if voucher.hb%} <h6>&#10004</h6> {%else%} {%endif%}</td>
                      <td>{%if voucher.fb%} <h6>&#10004</h6> {%else%} {%endif%}</td>
                      <td>{%if voucher.ai%}<h6>&#10004</h46> {%else%} {%endif%}</td>
                  </tr>
              </table>
          </td>
      </tr>
     
      </table>
  

    <br/>
	 <span> Extras to: <b>{{voucher.extras_to}}</b></span>
      <br/>
    <span>Special Instructions: <b>{{voucher.special_instructions}}</b></span>
      <br/>

    <br/>
      <span>Acknowledge receipt of this order by stating CONFIRMED below and retain the TOP COPY FOR YOUR RECORDS</span>

     <br/>
     <br/>
    
    <h6>RESERVATION MADE BY: </h6>
      <table class="reservation-table">
        <tr>
      		<td>Name: </td>
      		<td> </td>
		
	</tr>
	<tr>
      		<td>Date: </td>
      		<td></td>
		
	</tr>

      </table>


   <br/><br/>
      
      
  
  <br />
  <div class="text-center">
    THANK YOU FOR YOUR CONTINUED PARTNERSHIP.
  </div>
  </div>
</div>
<script>
     $('input[type=checkbox]').on('change', function (e) {
    if ($('input[type=checkbox]:checked').length > 1) {
        $(this).prop('checked', false);
        alert("Only one option to be taken on RESIDENT or NON RESIDENT");
    }
});
</script>
{% endblock%} {% endblock%}