{% extends 'index.html' %} {% load static %} {% load crispy_forms_tags %}

<!--Some comments-->
{% block content %} {% block css %}
<link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" />

<style>
      .invoice-boxx {
        max-width: 2400px;
        width: 100%;
        margin: auto;
        padding: 30px;
        border: 0px solid #eee;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        font-size: 18px;
        line-height: 24px;
        font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
        color: #9C640C;       }

        .invoice-box {

        color: #9C640C; 
         }
</style>
{% endblock %} {% block main %}

<div
  class="
    d-flex
    justify-content-between
    flex-wrap flex-md-nowrap
    align-items-center
    pt-3
    pb-2
    mb-3
    border-bottom
    view-invoice-box

  "
  
>


  <div class="btn-toolbar mb-2 mb-md-0">
 
    <div class="btn-group me-2">
      
        <a href="{% url 'view-pdf' voucher.slug%}" target="_blank" class="btn btn-primary">Print</a>
      
    </div>
  </div>
</div>
<div
  class="invoice-box"
  style="
    background: url({%static 'images/media/voucherback.png'%});
    background-size: cover;
  "
> 

        <table class = "header_table">
          <tr style = "color: #9C640C ">
            <td class="title col-md-4" style="width: 20%">
              <img
                src="{% static 'images/logo.PNG' %}"
                style="width: 100%; max-width: 200px"
                alt="Logo"
              />
            </td>
            <td class="text-center col-md-5" style="width: 55%">
              <h5>Virgin Africa Safaris Ltd.</h5>
              <h6 class="mt-0">TSS Towers Nkrumah Road<br />
              P0 BOX 84845 - 80100 GPO,<br />
              Mombasa Kenya.</h6>
              <span class="details">Email: Admin@virginafricasafaris.com<br />
              Website: www.virginafricasafaris.com</span>
              
            </td>
            <td class="col-md-5 text-center" style="width: 10%">
             <table class = " table-bordered">
                  <tr> 
                      <td>BOOK</td>
                     <td>AMEND</td>
                     <td>CANCEL</td>
                     
                  </tr>
                  <tr style="height: 12px">
                      <td> <h6 style="color: black;">&#10004</h6></td>
                      <td>{%if voucher.hb%} <h6 style="color: black;">&#10004</h6> {%else%} {%endif%}</td>
                      <td>{%if voucher.fb%} <h6 style="color: black;">&#10004</h6> {%else%} {%endif%}</td>
                      
                  </tr>
              </table>
             
            </td>
          </tr>
        </table>
    

    
    
<br/>
      Please RESERVE the following accommodation for: <b style="color: black;">{{voucher.accommodation_type}}</b>

      
    
        <table class="col-md-7" style="height: 30px">
          <tr>
            <td>
            NAME OF THE LODGE/HOTEL/CAMP: <b style="color: black;">{{voucher.facility_name}}</b>
            </td>
          </tr>
        </table>
   

  
  <br/>
   <h6>Group/Client</h6>
      <table class="col-md-7 ml-5">
      
         
    
    <tr>
        <td class="col-1 mr-0">NO of Adults: <b style="color: black;">{{voucher.number_of_adults}}</b></td>
        <td class="col-1 pr-0" style="text-align:left">NO of children <b style="color: black;">{{voucher.number_of_children}}</b></td>
        <td class="col-1 ml-0" style="text-align:left">Infants <b style="color: black;">{{voucher.infants}}</b></td>
    </tr>
    <tr>
        <td class="mr-0"></td>
        <td  class="pr-0" style="text-align:left">Age: <b style="color: black;">{{voucher.children_age}}</b></td>
        <td class="cmr-0">Baby Cot <b style="color: black;">{{voucher.baby_cot}}</b></td>
    </tr>
    </table>
       
 

   
      <table class="col-md-11 ml-1">
      <tr>
         <td colspan="3"><h6>Accomodation</h6></td>
    </tr>
    <tr>
       <table class="table-bordered col-md-10 ml-2">
           <tr>
               <td>Single</td>
                <td>Double</td>
                <td>Twin</td>
               <td>Triple</td>
               <td rowspan="2" style="vertical-align:top; text-align: center">Arrival<br/> <b style="color: black;">{{voucher.arrival}}</b></td>
               <td rowspan="2" style="vertical-align:top;text-align: center">Departure <br/><b style="color: black;">{{voucher.departure}}</b></td>
               <td rowspan="2" style="vertical-align:top; text-align: center">Total Number of nights <br/><b style="color: black;">{{voucher.number_of_nights}}<b/></td>


           </tr>
           <tr style="height: 30px">
               <td style="vertical-align:top; text-align: center">{%if voucher.single%} <h6 style="color: black;">&#10004</h6> {%else%} {%endif%}</td>
                <td style="vertical-align:top; text-align: center">{%if voucher.double%} <h6 style="color: black;">&#10004</h6> {%else%} {%endif%}</td>
                <td style="vertical-align:top; text-align: center">{%if voucher.twin%} <h6 style="color: black;">&#10004</h6> {%else%} {%endif%}</td>
               <td style="vertical-align:top; text-align: center">{%if voucher.triple%} <h6 style="color: black;">&#10004</h6> {%else%} {%endif%}</td>
              


           </tr>
           <tr
           ></tr>
       </table>
       
    </tr>
    
    </table>
       
            <br/>
           <div>Payment will be done by:<b style="color: black;"> Virgin Africa Safaris Ltd.</b></div>
           <br/>

    <table class="col-md-5">
  
   
      <tr class="col-md-4 mt-3">
          <td class="col-md-2">Meal Plan</td>
          <td class="col-md-2">
              <table class = " table-bordered">
                  <tr> 
                      <td style="vertical-align:top; text-align: center">BB</td>
                     <td style="vertical-align:top; text-align: center">HB</td>
                     <td style="vertical-align:top; text-align: center">FB</td>
                     <td style="vertical-align:top; text-align: center">AI</td>
                  </tr>
                  <tr style="height: 12px">
                      <td style="vertical-align:top; text-align: center"> {%if voucher.bb%} <h6 style="color: black;">&#10004</h6> {%else%} {%endif%}</td>
                      <td style="vertical-align:top; text-align: center">{%if voucher.hb%} <h6 style="color: black;">&#10004</h6> {%else%} {%endif%}</td>
                      <td style="vertical-align:top; text-align: center">{%if voucher.fb%} <h6 style="color: black;">&#10004</h6> {%else%} {%endif%}</td>
                      <td style="vertical-align:top; text-align: center">{%if voucher.ai%}<h6 style="color: black;">&#10004</h46> {%else%} {%endif%}</td>
                  </tr>
              </table>
          </td>
      </tr>
     
      </table>
  

    <br/>
	 <span> Extras to: <b style="color: black;">{{voucher.extras_to}}</b></span>
      <br/>
    <span>Special Instructions: <b style="color: black;">{{voucher.special_instructions}}</b></span>
      <br/>

    <br/>
      <span>Acknowledge receipt of this order by stating CONFIRMED below and retain the TOP COPY FOR YOUR RECORDS</span>

     <br/>
     <br/>
    
    <b><span>RESERVATION MADE BY:</span></b>
      <table class="reservation-table">
        <tr>
      		<td>Name: </td>
      		<td> </td>
		
	</tr>
	<tr>
      		<td>Date: </td>
      		<td></td>
		
	</tr>

      </table>


   <br/><br/>
      
      
  
  <br />
  <div class="text-center">
    THANK YOU FOR YOUR CONTINUED PARTNERSHIP.
  </div>
  </div>
</div>
<script>
     $('input[type=checkbox]').on('change', function (e) {
    if ($('input[type=checkbox]:checked').length > 1) {
        $(this).prop('checked', false);
        alert("Only one option to be taken on RESIDENT or NON RESIDENT");
    }
});
</script>
{% endblock%} {% endblock%}