{% extends 'index.html' %} {% load static %} {% load crispy_forms_tags %}
{%block css %}
<link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" />
{% endblock %} {% block content %}

<div class="search-main">
 <div class="form-group has-search">
    <span class="fa fa-search form-control-feedback voucher_search_icon"></span>
    <input type="text" class="form-control voucher_search_input" placeholder="Search" id="search" data-url="url for voucher to search"/>
  </div>
  </div>
<div
  class="
    d-flex
    justify-content-between
    flex-wrap flex-md-nowrap
    align-items-center
    pt-3
    pb-2
    mb-3
    border-bottom
  "
>

  <h1 class="h2">vouchers</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
      <a href="{% url 'create-voucher' %}"
        ><button type="button" class="btn btn-primary">
          Add New voucher
        </button></a
      >
    </div>
  </div>
</div>

<!-- <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas> -->

{% if vouchers|length > 0 %}
<div class="table-responsive">
  <table class="table table-striped table-sm table-hover" id="voucherTable">
    <thead>
      <tr>
        <th>#</th>
        
        <th>Client name</th>
        <th>email</th>
        <th>Due Date</th>
       
      </tr>
    </thead>
    <tbody>

     
      {% for voucher in vouchers %}
      <tr onclick="getElementById('edit-1').click()" style="cursor: pointer">
        <td id="vouchernumber">{{voucher.number}}</td>
       
        <td>{{voucher.client.clientName}}</td>
        <td>{{voucher.client.emailAddress}}</td>
        <td>{{voucher.reservation_date}}</td>
        
        <td>
          <a href="#" id="edit-1"></a>
        </td>
       <!-- <td>
          <a href="#"><button class="btn btn-danger btn-sm">DELETE</button></a>
        </td>-->
        <td>
          <a href="{% url 'view-voucher' voucher.slug %}"
            ><button class="btn btn-primary btn-sm">VIEW</button></a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">
    <h3>Start by Adding First voucher</h3>
    <img
      class="img-fluid"
      src="{% static 'assets/img/empty.svg' %}"
      alt="Virg Africa"
    />
  </div>
  <div class="col-lg-3"></div>
</div>



{% endif %} 


<script>

  $(function() {
    var search_url = $("#search").attr("data-url");
    $('#search').keyup(function() {

        $.ajax({
            type: "GET",
            url: search_url,
            data: {
                'search_text' : $('#search').val(),
                'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val()
            },
	   //success: function(data) { // on success..
              //  console.log(data)
              
           // }
            success: searchSuccess,
            dataType: 'html'
        });
    });
});

function searchSuccess(data, textStatus, jqXHR)
{
   $('#voucherTable').html(data)
 
}
         

</script>
{% endblock %}
