{% extends 'index.html' %} {% load static %} {% load crispy_forms_tags %}

<!--Some comments-->
{% block content %} {% block css %}
<link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" />
{% endblock %} {% block main %}

<!-- This is a comment too-->

<!-- section-header.// -->
<!--Login-->

<div class="container py-5 create-form-box">
  <h5>Creating invoice</h5>
  <div class="row">
    <form method="POST">
      {% csrf_token %}
      <div class="form-row">
        <div class="form-group col-4">{{ form.number|as_crispy_field }}</div>
        <div class="form-group col-4">{{ form.dueDate|as_crispy_field }}</div>
        <div class="form-group col-4">{{ form.quantity|as_crispy_field }}</div>
      </div>
      <div class="form-row">
        <div class="form-group col-6">
          {{ form.unit_price|as_crispy_field }}
        </div>
        <div class="form-group col-6">
          {{ form.paymentTerms|as_crispy_field }}
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-4">{{ form.status|as_crispy_field }}</div>
        <div class="form-group col-8">{{ form.client|as_crispy_field }}</div>
      </div>
      <div class="form-row">
        <div class="form-group col-10">
          {{ form.description|as_crispy_field }}
        </div>
      </div>
      <div class="form-row">
        <!-- collapsible form -->
        <div class="form-group col-10">
          <p>
            <a
              class="btn btn-primary"
              data-toggle="collapse"
              href="#collapseExample"
              role="button"
              aria-expanded="false"
              aria-controls="collapseExample"
            >
              Add item
            </a>
          </p>
          <div class="collapse" id="collapseExample">
            <div class="card card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life
              accusamus terry richardson ad squid. Nihil anim keffiyeh
              helvetica, craft beer labore wes anderson cred nesciunt sapiente
              ea proident.
            </div>
          </div>
        </div>
      </div>
      <button class="btn btn-info" type="submit">Save</button>
      <button class="btn btn-danger" type="submit">Reset</button>
      <button class="btn btn-warning" type="submit">Cancel</button>
      <button
        type="button"
        class="btn btn-link"
        data-bs-toggle="modal"
        data-target="#addClientModal"
      >
        ADD PRODUCT
      </button>
      <a href="{% url 'products'%}" class="btn btn-primary">Products</a>
      <a href="{% url 'clients'%}" class="btn btn-primary">Products</a>
    </form>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="mb-5">
        <form class="" action="#" method="post">
          {% csrf_token %} {{client_form|crispy}}
          <button type="submit" class="btn btn-primary">ADD CLIENT</button>
        </form>
      </div>
    </div>
    <br />
  </div>
  MODALS MODALS
  <!-- Modals Start Here -->
  <div class="modal modal-sheet py-5" tabindex="-1" id="adroductModal">
    <div class="modal-dialog">
      <div class="modal-content rounded-6 shadow">
        <form class="" action="#" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="modal-header border-bottom-0">
            <h5 class="modal-title">Add Invoice Product</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body py-0">{{prod_form.as_p}}</div>
          <div class="modal-footer flex-column border-top-0">
            <button
              type="submit"
              class="btn btn-lg btn-primary w-100 mx-0 mb-2"
            >
              Save changes
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div
    class="modal fade"
    id="addClientModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <form class="" action="#" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="modal-header border-bottom-0">
            <h5 class="modal-title">Add Invoice Product</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body py-0">{{prod_form.as_p}}</div>
          <div class="modal-footer flex-column border-top-0">
            <button
              type="submit"
              class="btn btn-lg btn-primary w-100 mx-0 mb-2"
            >
              Save changes
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- ========================= FOOTER END // ========================= -->
  {% endblock %}
</div>
{% endblock%}
