{% extends 'index.html' %} {% load static %} {% load crispy_forms_tags %}

{% load widget_tweaks %}

<!--Some comments-->
{% block content %} {% block css %}
<link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" />
{% endblock %} {% block main %}

<!-- This is a comment too-->

<!-- section-header.// -->
<!--Login-->

<div class="container py-5 create-form-box">
  {% if prod_form.errors %} {% for error in prod_form.errors %}
  <!---->
  {{ error | escape }} {% endfor %} {% endif %} {% if inv_prod_form.errors %}
   {% for error in inv_prod_form.errors %}
  <!---->
  {{ error | escape }} {% endfor %} {% endif %} {% if form.errors %} 
  {%for error in form.errors %}
  <!---->
  {{ error | escape }} {% endfor %} {% endif %}
 
  <h5>Editing invoice</h5>
   <br/>
  <div class="row">
    <form method="POST" class="col-12">
      {% csrf_token %}
      <div class="form-row">
        <div class="form-group col-2">{{ form.number|as_crispy_field }}</div>
        <div class="form-group col-3">{{ form.dueDate|as_crispy_field }}</div>
        <div class="form-group col-2">
          {{ form.paymentTerms|as_crispy_field }}
        </div>
       
        <div class="form-group col-2">{{ form.status|as_crispy_field }}</div>
         <div class="form-group col-2 ml-3">{{ form.istaxable|as_crispy_field }}</div>
        
      </div>

       <div class="form-row discount_row">
        <div class="form-group col-2">{{ form.apply_discount|as_crispy_field }}</div>
        <div class="form-group col-4 discount_group">{{ form.discount|as_crispy_field}}</div>
   
        
      </div>

      <div class="form-row">
        <!-- collapsible form -->
        <div class="col-12">

        

 <div id="exTab2" class="container">	
 <ul class="nav nav-tabs">
			<li class="active">
        <a class="nav-link font-weight-bold" href="#items" data-toggle="tab">Items</a>
			</li>
			<li><a class="nav-link font-weight-bold" href="#clients" data-toggle="tab">Client</a>
			</li>
			
		</ul>
      <br/>


	<div class="tab-content ">
		
    
    <div id="items" class="tab-pane fade">
      <div class="table">
                        <table class="table" id="formtable">
			 	{{prod_formset.management_form}}
                
             			 
                            <tr>
                                <td style="border: 0; padding: 0 0.5em 0 0; width: 15%">
                                    <label class="form-label" for="invoice_detail_product">Product name</label>
                                     
                                </td>
                                <td style="border: 0; padding: 0 0 0 0.5em;">
                                    <label class="form-label" for="invoice_detail_amount">Unit price</label>
                                   
                                </td>
			                        	<td style="border: 0; padding: 0 0 0 0.5em;">
                                    <label class="form-label" for="invoice_detail_amount">Quantity</label>
                  
                                </td>
                                	<td style="border: 0; padding: 0 0 0 0.5em; width: 49%">
                                    <label class="form-label" for="invoice_detail_amount">Description</label>
                  
                                </td>
				<td style="border: 0; padding: 0 0 0 0.5em;">
					
				</td>
                            </tr>
                            {% for prod_form in prod_formset %}
                             {{ prod_form.DELETE|add_class:"not_displayed" }}
                            <tr class="tablerow">
                                <td style="border: 0; padding: 0 0.5em 0 0; width: 15%">
                                  
                                     {{ prod_form.product|as_crispy_field }}
                                </td>
                                <td style="border: 0; padding: 0 0 0 0.5em;">
                              
                                   {{ prod_form.price|as_crispy_field }}
                                </td>
			                        	<td style="border: 0; padding: 0 0 0 0.5em;">
                                  
                                   {{ prod_form.quantity|as_crispy_field }}
                                </td>
                                <td style="border: 0; padding: 0 0 0 0.5em; width: 47%;max-height: 20px">
                                  
                                   {{ prod_form.prod_description|as_crispy_field }}
                                </td>

					<td style="width: 2%;border: 0; padding: 0 0 0 0.5em;">
          <button type="button" class="btn btn-default" onclick="deleteRow(this)" aria-label="Left Align" data-toggle="tooltip" data-placement="top" title="Remove">
 <span class="fas fa-times-circle danger" aria-hidden="true"></span>
 </button>
					
				</td>
                            </tr>
                             {% endfor %}

                             <!--
                            <tr class="add-btn-div">
                              <td><input type='button' id='add-form' value='Add item' class="btn btn-secondary" /></td>
                            </tr>
                            -->
                         
                        </table>
		</div>
   
          </div>
           
    
    <div id="clients" class="tab-pane fade">
       <div class="c">
              <div class="form-row">
                <div class="form-group col-4">
                  {{ client_form.clientName|as_crispy_field }}
                </div>
                <div class="form-group col-4">
                  {{ client_form.emailAddress|as_crispy_field }}
                </div>
                <div class="form-group col-4">
                  {{ client_form.address|as_crispy_field }}
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-4">
                  {{ client_form.postalCode|as_crispy_field }}
                </div>
                <div class="form-group col-4">
                  {{ client_form.phoneNumber|as_crispy_field }}
                </div>
              </div>
            </div>
    </div>
    
			</div>
  </div>

  </div>
  </div>
        
    
      
      <br />
      <div class="row justify-content-center" style = "width: 100%">
      <button class="btn btn-info col-2 mr-1" type="submit">Save changes</button>
      
      <a class =" col-2" href="{% url 'homepage'%}"><button class="btn btn-warning" type="button">Cancel</button></a>
      </div>
    </form>
  </div>
  </div>

  <!-- Delete Item Modal Start Here -->
  <div
    class="modal fade"
    id="deleteItemModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <form class="" action="#" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="modal-header border-bottom-0">
            <h5 class="modal-title">Delete Invoice Item</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body py-0">
          
                    <table class="table table-striped table-sm table-hover" id="invoiceTable">
    <thead>
      <tr>
       
        <th>Product</th>
        <th>Description</th>
        <th>Quantity</th>
        <th></th>
        
      </tr>
    </thead>
    <tbody>

     
      {% for product in product_list %}
      <tr onclick="getElementById('edit-1').click()" style="cursor: pointer">
        <td>{{product.product}}</td>
        <td>{{product.prod_description}}</td>
        <td>{{product.quantity}}</td>
        <td><a class="btn btn-danger btn-sm" href="{% url 'delete-product' product.id%}">Delete</a></td>
        <td>
          <a href="#" id="edit-1"></a>
        </td>
       <!-- <td>
          <a href="#"><button class="btn btn-danger btn-sm">DELETE</button></a>
        </td>-->
        
      </tr>
      {% endfor %}
    </tbody>
  </table>
          
          </div>
          <div class="modal-footer flex-column border-top-0">
           
            <button
              type="button"
              class="btn  btn-primary mx-0 mb-2"
              data-dismiss="modal" aria-label="Close"
            >
              Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- End of Delete Item Modal -->


  <!--Add Item Modal starts here-->
  <div
    class="modal fade"
    id="addItemModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <form class="" action="#" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="modal-header border-bottom-0">
            <h5 class="modal-title">Add Invoice Product</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body py-0">
                    
                          <table class="table" id="formtable">
			 	{{product_formset_modal.management_form}}
                
             			 
                            <tr>
                                <td style="border: 0; padding: 0 0.5em 0 0; width: 15%">
                                    <label class="form-label" for="invoice_detail_product">Product name</label>
                                     
                                </td>
                                <td style="border: 0; padding: 0 0 0 0.5em;">
                                    <label class="form-label" for="invoice_detail_amount">Unit price</label>
                                   
                                </td>
			                        	<td style="border: 0; padding: 0 0 0 0.5em;">
                                    <label class="form-label" for="invoice_detail_amount">Quantity</label>
                  
                                </td>
                                	<td style="border: 0; padding: 0 0 0 0.5em; width: 49%">
                                    <label class="form-label" for="invoice_detail_amount">Description</label>
                  
                                </td>
				<td style="border: 0; padding: 0 0 0 0.5em;">
					
				</td>
                            </tr>
                            {% for prod_form in product_formset_modal %}
                           
                            <tr class="tablerow">
                                <td style="border: 0; padding: 0 0.5em 0 0; width: 15%">
                                  
                                     {{ prod_form.product|as_crispy_field }}
                                </td>
                                <td style="border: 0; padding: 0 0 0 0.5em;">
                              
                                   {{ prod_form.price|as_crispy_field }}
                                </td>
			                        	<td style="border: 0; padding: 0 0 0 0.5em;">
                                  
                                   {{ prod_form.quantity|as_crispy_field }}
                                </td>
                                <td style="border: 0; padding: 0 0 0 0.5em; width: 47%;max-height: 20px">
                                  
                                   {{ prod_form.prod_description|as_crispy_field }}
                                </td>

					
                            </tr>
                             {% endfor %}
                            
                         
                        </table>
          
          </div>
          <div class="modal-footer flex-column border-top-0">
            <button
              type="submit"
              class="btn btn-primary mx-0 mb-2"
            >
              Save changes
            </button>
             <button
              type="button"
              class="btn  btn-primary mx-0 mb-2"
              data-dismiss="modal" aria-label="Close"
            >
              Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!--End of Add Item Modal-->



  <!-- ========================= FOOTER END // ========================= -->
  {% endblock %}
</div>



<script>
        let birdForm = document.querySelectorAll(".tablerow")
        let container = document.querySelector("#formtable")
        let addButton = document.querySelector("#add-form")
        let totalForms = document.querySelector("#id_form-TOTAL_FORMS")
        let addButtonDiv = document.querySelector(".add-btn-div")
        let rowCount = document.getElementById('formtable').rows.length-1;

         var elems=document.getElementsByClassName('not_displayed')
        for (var i=0;i<elems.length;i+=1){
        elems[i].style.display = 'block';
}
        
        



	     var parentDiv = addButtonDiv.parentNode;

        let formNum = birdForm.length-1
        addButton.addEventListener('click', addForm)

        function addForm(e){
            e.preventDefault()

            let newForm = birdForm[0].cloneNode(true)
            let formRegex = RegExp(`form-(\\d){1}-`,'g')

            formNum++
            newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`)
            let nnn = addButtonDiv
            parentDiv.insertBefore(newForm, addButtonDiv)
           
            
            totalForms.setAttribute('value', `${formNum+1}`)
        }


	function deleteRow(r) {

      var i = r.parentNode.parentNode.rowIndex;
      var total = parseInt($('#id_form-TOTAL_FORMS').val());
      if (total > 1) {
          var i = r.parentNode.parentNode.rowIndex;
          //document.getElementById("formtable").deleteRow(i);
          document.getElementById("formtable").rows[i].style.display="none"

          checkbox_id = "id_form-"+(i-1)+"-DELETE"
          //document.getElementById(checkbox_id).checked=true
          document.getElementById(checkbox_id).click()
          document.getElementById(checkbox_id).value="on"
         //totalForms.setAttribute('value', `${formNum}`)
         

        }
      }


      function updateForms() {
    let bForm = document.querySelectorAll(".tablerow")
    let count = 0;
    for (let form of bForm) {
        const formRegex = RegExp(`form-(\\d){1}-`, 'g');
        form.innerHTML = form.innerHTML.replace(formRegex, `form-${count++}-`)
    }
}
    </script>
<script>
   $('#add').click(function () {
    var n = $('.roww').length + 1;
    var temp = $('.roww:first').clone();
    temp.attr('name', temp.attr('name') + n);
    $('input:first', temp).attr('placeholder', 'Item #' + n)
    $('.roww:last').after(temp);
});

$(document).ready(function () {
    $("#remove").click(function () {
        $(".row:last").remove();
    });
});


var discount = "{{invoice.apply_discount}}"

if(discount=="1")
{
$(".discount_group").show();
$(".discount_row :checkbox").click(function () {
    if (this.checked) $(".discount_group").show();
    else $(".discount_group").hide();
});
}
else{
   
   $(".discount_group").hide();
$(".discount_row :checkbox").click(function () {
    if (this.checked) $(".discount_group").show();
    else $(".discount_group").hide();
});

}


</script>
{% endblock%}