{% extends 'index.html' %} {% load static %} {% load crispy_forms_tags %}
{%block css %}
<link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" />
{% endblock %} {% block content %}

<div
  class="
    d-flex
    justify-content-between
    flex-wrap flex-md-nowrap
    align-items-center
    pt-3
    pb-2
    mb-3
    border-bottom
    view-invoice-box
  "
>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="col-lg-2" >
              <a href="{% url 'viewpdf'%} " target="_blank"
                ><button class="btn btn-success text-white">
                  PRINT
                </button></a
              >
            </div>
            <div class="col-lg-4">
              <a href="{% url 'email-document-invoice' invoice.slug%}"
                ><button class="btn btn-warning text-white">
                  EMAIL INVOICE
                </button></a
              >
            </div>
            
            <div class="col-lg-2">
              <a href="{% url 'view-pdf-invoice' invoice.slug %}"
              target="_blank"
                ><button class="btn btn-info text-white">
                  EDIT
                </button></a
              >
            </div>
    <div class="btn-group me-2">
      <a href="{% url 'view-invoices' %}"
        ><button type="button" class="btn btn-primary">Go Back</button></a
      >
    </div>
  </div>
</div>

<div class="invoice-box">
   
      <table cellpadding="0" cellspacing="0">
        <tr class="top">
          <td colspan="2">
            <table>
              <tr>
                <td class="title">
                  <img
                    src="{% static 'images/logo.PNG' %}"
                    style="width: 100%; max-width: 200px"
                    alt="Logo"
                  />
                </td>
                 <td class="mr-3">
                       <h5>INVOICE</h5>
                 </td>
                <td>
                   Invoice #: <strong>{{invoice.number}}</strong><br />
                Created: {{invoice.date_created|date}}<br />
                Due: {{invoice.dueDate}}
                </td>
              </tr>
            </table>
          </td>
        </tr>

        <tr class="information">
          <td colspan="2">
            <table>
              <tr>
                <td>
                 
                <strong>{{invoice.client.clientName}}</strong> <br />
                {{invoice.client.address}}<br />
                {{invoice.client.city}}, {{invoice.client.postalCode}} <br/ >
               <br/ > {{invoice.client.phoneNumber}}
                <br />
                <br />
                
                </td>

                <td>
                  Acme Corp.<br />
                  John Doe<br />
                  john@example.com
                </td>
              </tr>
            </table>
          </td>
        </tr>


        <tr class="details">
          <td>--------------</td>

          <td>--------------------</td>
        </tr>

       <tr>
       <table>
        <tr class="heading">
          <td>#</td>
          <td>Qty(Pax)</td>
          <td>Description</td>
          <td>Unit price</td>

          <td>Line Total(Kshs.)</td>
        </tr>

         {%for prod in invoiceproduct%}
        <tr class="item">
          <td>1</td>
         
          <td>{{prod.quantity}}</td>
         
          <td>
             {{invoice.description}}
          </td>

          <td>{{prod.price}}</td>
          <td>{{invoice.total_price}}</td>
        </tr>
        {%endfor%}
       

       

        <tr class="total">
          <td></td>

          <td colspan="3">Grand Total:</td>
          <td class = "grand_total"><u><u>{{invoice.grand_total}}</u><u/></td>
        </tr>
      </table>
      </tr>
      <br />
     </table>
    </div>
        

      

<br/><br/>
          
          <div class="row">
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MODALS MODALS -->
<!-- Modals Start Here -->
<div class="modal modal-sheet py-5" tabindex="-1" id="addProductModal">
  <div class="modal-dialog">
    <div class="modal-content rounded-6 shadow">
      <form class="" action="#" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="modal-header border-bottom-0">
          <h5 class="modal-title">Add Invoice Product</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>

        <div class="modal-body py-0">{{prod_form.as_p}}</div>
        <div class="modal-footer flex-column border-top-0">
          <button type="submit" class="btn btn-lg btn-primary w-100 mx-0 mb-2">
            Save changes
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
