{% extends 'forms/base.html' %}
<!--Some comments-->
{% block content %} {% load static %}
<!-- This is a comment too-->
{% load crispy_forms_tags %}

<!-- section-header.// -->
<!--Login-->
<div
  class="
    
    justify-content-between

    align-items-center
    pt-3
    pb-2
    mb-3
    pr-2
    pl-2
    border-bottom
    view-invoice-box
    row
  "

  
>
<div class="container">
<div class="row" style>
  <h1>Login</h1>
  </div>
  <div class="row justify-content-center">
  <form method="POST">

    {% csrf_token %} 

	 <div class="form-row col-9">
        <div class="form-group col-9">{{ login_form.username|as_crispy_field }}</div>
       </div>
	<div class="form-row col-9">
        <div class="form-group col-9">{{ login_form.password|as_crispy_field }}</div>
       </div>
	
    <button class="btn btn-primary shadow-none" type="submit"  style="outline: none;border-radius:0; background-color:purple">Login</button>
  </form>
  </div>
  <br />
  <p class="text-center">Forgot your password? Contact the admin for help.</p>
</div>
</div>
<!-- ========================= FOOTER END // ========================= -->
{% endblock content %}
