{% extends 'forms/base.html' %}
<!--Some comments-->
{% block content %} {% load static %}
<!-- This is a comment too-->
{% load crispy_forms_tags %}

<!-- section-header.// -->
<!--Login-->
<div class="container py-5 col-md-4 login-form-parent text-center">
  <h5>Logged out successfully</h5>
  <br /><br />

  <form method="POST">
    <a href="{% url 'login'%}" class="btn btn-primary" type="submit"
      >Go to login page</a
    >
  </form>
  <br />
</div>

<!-- ========================= FOOTER END // ========================= -->
{% endblock content %}
